.news{
    display: flex;
    width: 100%;
    height: 800px;
    background: whitesmoke;
    padding-top: 96px;

}
.newsText{
    margin-left: 98px;
}
.newsText>h4{
    color: blue;
    font-size: 20px;
    padding-bottom: 20px;
}
.newsText>h2{
    font-size: 35px;
}
.item{
    width: 560px;
    height: 560px;
    margin-left: 60px;
}
.item>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.newsRight{
    margin-left: 40px;
}
.newsRightText{

    width: 530px;
    height: 160px;
    background: white;
    margin-left: 70px;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s;
}
.newsRightText:hover{
    background: #010134;
}

.borderimg{
    display: flex;
    padding-top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.borderimg>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.borderimgText{
    padding-top: 8px;
    padding-left: 13px;
}
.borderimgText>h6{
    padding-bottom: 3px;
    font-size: 20px;
    color: blue;
}
.borderimgText>p{
    font-size: 14px;
}
.newsRightTexts{
    width: 600px;
    height: 160px;
    background: white;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 30px;
}

.borderimgs{
    display: flex;
    padding-top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.borderimgs>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.borderimgTexts{
    padding-top: 8px;
    padding-left: 13px;
}
.borderimgTexts>h6{
    font-size: 20px;
    color: blue;
}
.borderimgTexts>p{
    font-size: 14px;
}
.newsRightText2{
    width: 530px;
    height: 160px;
    background: white;
    margin-left: 70px;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 30px;
}

.borderimg2{
    display: flex;
    padding-top: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.borderimg2>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.borderimgText2{
    padding-top: 8px;
    padding-left: 13px;
}
.borderimgText2>h6{
    padding-bottom: 3px;
    font-size: 20px;
    color: blue;

}
.borderimgText2>p{
    font-size: 14px;
}
.newsRight{
    margin-left: 95px;
}